
app-nav-menu{
  width: 20%;
}

a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 20px;
  text-decoration: none;
  color: gray;
}

.active{
  //border: 3px solid black;
  //opacity: 0.6;
  background-color: rgb(66, 163, 253);
  color: white;
}

.wrapper{
  width: 75%;
  margin: auto;
}
