<ng-container *ngFor = 'let skill of skills; let i = index'>
    <button mat-stroked-button color='basic' *ngIf='skill.isActive'
        (click) = 'changeActive(i)'>
        {{skill.skill}}
    </button>
    <button mat-raised-button color='primary' *ngIf='!skill.isActive'
        (click) = 'changeActive(i)'>
        {{skill.skill}}
    </button>
</ng-container>

<button mat-stroked-button color='basic' (click) = 'showInput()'>
    <span class="material-icons"> add </span>
</button>
<mat-form-field appearance="outline"  [style.display]=" isShowInput ?'inline-block':'none'">
    <mat-label>Add skill</mat-label>
    <input matInput placeholder="Enter new skill" [(ngModel)] = 'skill'>
    <mat-icon matSuffix class="material-icons" (click) = addSkill(skill)>check_circle_outline</mat-icon>
</mat-form-field>