<!-- Start article -->

<section>

   <!-- Start menu section -->

   <nav class="menu">
      <ul class="menu__list">
         <li class="menu__item">
            <a class="menu__link" routerLink="">
               <span class="material-icons menu__icon">home</span>
               <span>Home</span>
            </a>
         </li>
         <li class="menu__item">
            <a class="menu__link">
               <span class="material-icons menu__icon">search</span>
               <span>Search</span>
            </a>
         </li>
         <li class="menu__item">
            <a class="menu__link">
               <span class="material-icons menu__icon">payment</span>
               <span>Payment</span>
            </a>
         </li>
         <li class="menu__item">
            <a class="menu__link" routerLink="/skills">
               <span class="material-icons menu__icon">perm_identity</span>
               <span>Profile</span>
            </a>
         </li>
         <li class="menu__item">
            <a class="menu__link">
               <span class="material-icons menu__icon">settings</span>
               <span>Setting</span>
            </a>
         </li>
      </ul>
   </nav>

   <!-- Finish menu section -->

</section>

<!-- Finish article -->
